.education-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.education-info {
  max-width: 560px;
}

.education-info h1 {
  text-align: center;;
}
.school p {
  margin: 10px 2.5px 10px 2.5px;
  padding: 5px;
  background-color: lightsalmon;
  text-decoration: none;
  color: white;
}

.education-wrapper h4 {
  margin-top: 50px;
}