.skills-wrapper {
  display: flex;
  justify-content: center;
  /* margin-top: 80px; */
}

.skill-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.skill-list li {
  margin: 10px 2.5px 10px 2.5px;
  padding: 5px;
  background-color: lightsalmon;
  text-decoration: none;
  color: white;
}

.skills-info {
  max-width: 560px;
}

.skills-wrapper h1 {
  text-align: center;
}

.skills-wrapper h4 {
  margin-top: 50px;
}


